html {
    background: transparent !important;
}

.scroll-decoration {
    box-shadow: none !important;
}

body{
    FONT-WEIGHT: 100;
    margin: 0;
    padding: 0;
    background: transparent !important;

}
#new-window{
    color: white;
    padding-left: 10px;
}
#vditor{
    padding-top: 40px;
    width: 400px;
    height: 560px;
} 

#container{
    height: 600px;
    width: 400px;
}

#topbar{
    position: fixed;
    height: 40px;
    top: 0;
    width: 100%;
    -webkit-app-region: drag;
    background-color: black;
}

